@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Demo</h1>
    <p> PowerBI Reports Goes Here:</p>
    <iframe title="HealthBotVis" width="1280" height="720" src="https://msit.powerbi.com/reportEmbed?reportId=ad10ac71-c56b-4fbc-8340-89cd7904deae&autoAuth=true&ctid=72f988bf-86f1-41af-91ab-2d7cd011db47&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly9kZi1tc2l0LXNjdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>
