@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BouMatic Dairy Cow Management System</h1>
    <p/>
    <h2> Las Colinas Farm Dashboard & Insights </h2>
<iframe title="Cow Dashbord" width="1280" height="720" src="https://msit.powerbi.com/reportEmbed?reportId=cfbf1d5a-7ed2-4a14-8e82-32bc2aadb487&autoAuth=true&ctid=72f988bf-86f1-41af-91ab-2d7cd011db47&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly9kZi1tc2l0LXNjdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>
